<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parent.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
  <title>課題提出</title>
</head>

<body>
  <div>
    <h1 class="uk-article-title">課題提出</h1>
    <p class="uk-text-muted">提出する課題を選択してください</p>
    <form method="POST" action="get_file"  enctype="multipart/form-data">
      <ul>
        {% for homework in homework_list %}
        <li><input type="radio" class="uk-radio" name="homeworkID" value="{{ homework.homework_id }}" required>{{ homework.about }}
          {% endfor %}
        </ul>
        <div class="uk-placeholder" id="drop_zone">
          <span uk-icon="icon: cloud-upload"></span>
          <span class="uk-text-middle">Attach binaries by dropping them here or</span>
          <style>
          label > input {
            display:none;	/* アップロードボタンのスタイルを無効にする */
          }
          label{
            border : dashed;
            font-size: small;
          }
          </style>
          <label for="drop_place">
            ファイルを選択
            <input type="file" id="drop_place" name="uploadedFile" required>
          </label><br>
        </div>
        <input type="submit" value="送信">
        <output id="list"><output><br>

        </form>
      </div>
      <script>

      function handleFileSelect(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var files = evt.dataTransfer.files; // FileList object.

        // files is a FileList of File objects. List some properties.
        var output = [];
        f = files[0];
        output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
        f.size, ' bytes, last modified: ',
        f.lastModifiedDate.toLocaleDateString(), '</li>');

        var blobData = evt.dataTransfer.files[0];
        var fileName = blobData.name
        console.log("read_file:"+fileName);
        var fileReader = new FileReader();
        fileReader.onload = function(){
          console.log("読み込みに成功しました");
          var formData = new FormData() ;
          formData.set("uploadedFile", blobData) ;
          var drop_place = document.getElementById('drop_place');
          console.log(drop_place.value);
        }
        fileReader.readAsDataURL(blobData);
        //formのinput="file"にファイルを入れる

        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
      }
      function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
      }

      // Setup the dnd listeners.
      var dropZone = document.getElementById('drop_zone');
      dropZone.addEventListener('dragover', handleDragOver, false);
      dropZone.addEventListener('drop', handleFileSelect, false);
      </script>
    </body>
    </html>
