<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parent.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/build/jquery.datetimepicker.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/jquery.datetimepicker.css">
    <title>閲覧</title>
</head>

<body>
    <div class="parent">
        <h1 class="uk-article-title">閲覧画面</h1>
        <p class="uk-text-muted">ここでは提出した課題の内容を確認できます</p>
        <p align="left">
            {% for line in r_dict["report_text_list"] %}
            {{line}}<br>
            {% endfor %}
        </p>
        <p class="uk-text-muted">コメントを送ることができます</p>
        {% if session["permission"]==0 %}
        <p align="left">{{ r_dict["feedback_text"] }}</p>
        {% elif session["permission"]==1 %}
        <form action="feedback" method="post">
            <textarea name="feedback_text" class="uk-textarea" rows="3" placeholder="コメントを入力"></textarea>
            <!--<textarea name="feedback_text" rows="4" cols="50">フィードバックを入力</textarea><br>-->
            <br>
            <input class="uk-button uk-button-primary " type="submit" value="送信">
            <input type="hidden" name="assignment_id" value="{{ r_dict["assignment_id"] }}">
            <input type="hidden" name="user_id" value="{{ r_dict["user_id"] }}">
        </form>
        {% endif %}
    <br>
    <div class="uk-button">
            <a class="uk-button uk-button-danger uk-button-large " href="javascript:history.back();">戻る</a>
        </div>
    </div>
    <br>
    <br>
</body>
</html>

<!-- 改変@al17055 -->